{% extends 'base.html.twig' %}

{% block title %}
  Hello AboutController!
{% endblock %}

{% block body %}
  <script src="js/facebook.js"></script>
  <script async
    defer
    src="https://connect.facebook.net/en_US/sdk/debug.js"></script>

  <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font:
    18px/1.5 sans-serif; } .example-wrapper code { background: #F5F5F5; padding:
    2px 6px; }
  </style>

  <div class="example-wrapper">
    <h1>
      Hello {{ controller_name }}! ✅
    </h1>This friendly message is coming from:<ul>
      <li>
        Your controller at <code><a href="{{ '/Users/christophe/Projects/bigred-3/src/Controller/AboutController.php'|file_link(
              0
            ) }}">
            src/Controller/AboutController.php
          </a></code>
      </li>
      <li>
        Your template at <code><a href="{{ '/Users/christophe/Projects/bigred-3/templates/about/index.html.twig'|file_link(
              0
            ) }}">
            templates/about/index.html.twig
          </a></code>
      </li>
    </ul>
    {% if fb %}
      {{ dump(fb) }}
    {% endif %}
    <hr />
    <a href="{{ login_url }}">Log in with facebook !</a>
    {# <div class="fb-login-button"
      data-size="large"
      data-button-type="login_with"
      data-layout="default"
      data-auto-logout-link="true"
      data-use-continue-as="false"
      data-width=""></div> #}

    {{ dump(psid) }}
    <div class="fb-send-to-messenger"
      cta_text="SEND_ME_UPDATES"
      messenger_app_id="2743452592557910"
      page_id="283620859105921"
      color="blue"
      size="large"></div>
  </div>
{% endblock %}
