<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/firewood.png" />
    </a>

    <a role="button" id="burger-button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a href="{{ path('home')}}" class="navbar-item">
        Home
      </a>
      <a href="{{ path('about')}}" class="navbar-item">
        About
      </a>
      <a href="{{ path('gallery')}}" class="navbar-item">
        Gallery
      </a>
      </div>
      <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {% if app.user %}
            <a href="{{ path('show_account') }}" class="button is-primary">
              <strong>Account</strong>
            </a>
            <a href="{{ path('app_logout') }}" class="button is-light">
              Sign out
            </a>
          {% else %}
            <a href="{{ path('app_register')}}" class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a href="{{ path('app_login')}}" class="button is-light">
              Sign in
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
    </div>
</nav>

{# Banner #}
<section class="hero is-small is-light">
  <div class="py-2 px-2 has-text-centered">
    <a href="{{ path('home') }}#order_box">
      <div class="is-size-4 has-text-weight-bold has-text-danger">~3 cubic meters for $250</div>
    </a>
  </div>
</section> 

{# Banner end #}