{% extends 'base.html.twig' %}

{% block title %}
  Reset your password
{% endblock %}

{% block body %}
  {% for flashError in app.flashes('reset_password_error') %}
    <div class="alert alert-danger" role="alert">
      {{ flashError }}
    </div>
  {% endfor %}
  <section class="section">
    <div class="box">
      <h2 class="title is-2">
        Reset your password
      </h2>

      {{ form_start(requestForm) }}
      <div class="field">

        {{ form_label(requestForm.email) }}
      <div class="control">{{ form_widget(requestForm.email) }}</div>
      <div>
        <small>
          Enter your email address and we we will send you a link to reset your
          password.
        </small>
      </div>

      <button class="button is-primary mt-5">Send password reset email</button>
      {{ form_end(requestForm) }}
    </div>
  </section>
{% endblock %}
