{% extends 'admin/base.html.twig' %}

{% block title %}
Admin
{% endblock %}

{% block body %}
 {# Filter #}
<div class="tabs is-toggle is-fullwidth is-large">
  <ul>
    <li id="all" class="{{ filter ? '' : 'is-active' }}">
      <a href="{{ path('admin') }}">
        <span class="icon">
          <i class="fas fa-stream" aria-hidden="true"></i>
        </span>
        <span>All</span>
      </a>
    </li>
    <li class="{{ filter is same as('pending') ? 'is-active' : '' }}">
      <a href="{{
          path(
            'admin',
            {
              filter: 'pending'
            }
          )
          }}">
        <span class="icon">
          <i class="fas fa-hourglass-start" aria-hidden="true"></i>
        </span>
        <span>Pending</span>
      </a>
    </li>
    <li class="{{ filter is same as('rescheduled') ? 'is-active' : '' }}">
      <a href="{{
          path(
            'admin',
            {
              filter: 'rescheduled'
            }
          )
          }}">
        <span class="icon">
          <i class="fas fa-clock" aria-hidden="true"></i>
        </span>
        <span>Rescheduled</span>
      </a>
    </li>
    <li class="{{ filter is same as('confirmed') ? 'is-active' : '' }}">
      <a href="{{
          path(
            'admin',
            {
              filter: 'confirmed'
            }
          )
          }}">
        <span class="icon">
          <i class="fas fa-clipboard-check" aria-hidden="true"></i>
        </span>
        <span>Confirmed</span>
      </a>
    </li>
    <li class="{{ filter is same as('cancelled') ? 'is-active' : '' }}">
      <a href="{{
          path(
            'admin',
            {
              filter: 'cancelled'
            }
          )
          }}">
        <span class="icon">
          <i class="far fa-times-circle" aria-hidden="true"></i>
        </span>
        <span>Cancelled</span>
      </a>
    </li>
    <li class="{{ filter is same as('delivered') ? 'is-active' : '' }}">
      <a href="{{
          path(
            'admin',
            {
              filter: 'delivered'
            }
          )
          }}">
        <span class="icon">
          <i class="far fa-times-circle" aria-hidden="true"></i>
        </span>
        <span>Delivered</span>
      </a>
    </li>
  </ul>
</div>

{# Sort #}

<div class="container has-text-centered mb-5">
  <span class="icon is-large">
  <i class="fas fa-sort" aria-hidden="true"></i>
  </span>
  <div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
      <span>Sort orders</span>
      <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu3" role="menu">
    <div class="dropdown-content">
      <a href="{{ path('admin', {'filter': filter, 'sort': 'o.deliveryDate'})}}" class="dropdown-item">
        Newest to oldest
      </a>
      <a href="{{ path('admin', {'filter': filter, 'sort': 'client.id'})}}" class="dropdown-item">
        Client
      </a>
    </div>
  </div>
</div>
</div>

<ul id="orders">
  {% for order in orders %}
  <li class="box" id="order-{{ order.id }}">
    <p>
      {{ order.deliveryDate|date('d/m/y') }} {{ order.deliveryTime }} from
      {{ "#{order.firstName} #{order.lastName}" }}
      in {{ order.city }}
    </p>
    <p>
      Status: {{ order.status }}
    </p>
    {% if order.status == 'pending' %}
    <a href="{{ path('orders_update_status', { id: order.id, status: 'confirmed', filter: filter })}}"
      class="button is-success">Confirm</a>
    <a href="{{ path('orders_update_status', { id: order.id, status: 'rescheduled', filter: filter})}}"
      class="button is-warning">Reschedule</a>
    <a href="{{ path('orders_update_status', { id: order.id, status: 'cancelled', filter: filter})}}"
      class="button is-danger">Cancel</a>
      {% elseif order.status == 'confirmed' %}
      <a href="{{ path('orders_update_status', { id: order.id, status: 'delivered', filter: filter})}}"
      class="button is-primary">Mark as delivered</a>
      {% elseif order.status == 'rescheduled'%}
      <a href="{{ path('orders_update_status', { id: order.id, status: 'confirmed', filter: filter})}}"
      class="button is-success">Confirm</a>
    {% endif %}
  </li>
  {% else %}
  <p>No orders were found with this filter.</p>
  {% endfor %}

  {#
    Parameters:
      * nbPages (int): number of pages
      * currentPage (int): current pages
      * url (string): route name & query (string): route parameter
        ex: list/page-5?q=myFilter (5 = page and query = myFilter)
#}


  {% if nbPages > 1 %}

  {# Number of page around current page+1 #}
  {% set nearbyPagesLimit = 4 %}

  <nav class="pagination is-medium is-centered" role="navigation" aria-label="pagination">
    
    <a {% if currentPage == 1 %} disabled {% endif %} class="pagination-link pagination-previous" href="{{ path(url, { 'page': 1, 'filter': filter }) }}">First</a>

    
    <a {% if currentPage == nbPages %} disabled {% endif %}class="pagination-next" href="{{ path(url, { 'page': nbPages, 'filter': filter }) }}">Last</a>
    <ul class="pagination-list">
      {% for i in 1..nbPages %}
      {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
      {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
      {% else %}
      <li>
        <a class="pagination-link {% if currentPage == loop.index  %} is-current{% endif %}" href="{{ path(url, { 'page': loop.index, 'filter': filter, 'sort': sort }) }}">{{ loop.index }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

  </nav>
  {% endif %}

  {% endblock %}