{% extends 'base.html.twig' %}

{% block title %}
  Orders index
{% endblock %}

{% block body %}
  <h1 class="title">
    My orders
  </h1>

  <div class="card">
    <div class="card-content">
      <ul>
        {% for order in orders %}
          <li class="box">
            <div class="columns is-vcentered">
              <div class="column">
                {{ order.deliveryDate|date('Y-m-d') }}
                -
                {{ order.deliveryTime }}
              </div>
              <div class="column">
                {{ order.status }}
              </div>
              <div class="column">
                {{ order.paymentStatus }}
              </div>
              <div class="column">
                <a class="button is-primary"
                  href="{{
                  path(
                    'orders_show',
                    {
                      id: order.id
                    }
                  )
                  }}">
                  show
                </a>
                <a class="button is-warning"
                  href="{{
                  path(
                    'orders_edit',
                    {
                      id: order.id
                    }
                  )
                  }}">
                  edit
                </a>
              </div>
              {% if client is not defined %}
                <div class="column">
                  {{ order.firstName }} {{ order.lastName }}
                </div>
              {% endif %}
            </div>
          </li>
        {% else %}
          <div colspan="8">
            no records found
          </div>
        {% endfor %}
      </ul>
    </div>
  </div>

  <a href="{{ path('orders_new') }}">Create new</a>
{% endblock %}
