{% extends 'base.html.twig' %}

{% block title %}
  Clients index
{% endblock %}

{% block body %}
  <h1 class="title">
    All clients
  </h1>

  <table class="table">
    <thead>
      <tr>
        <th>
          Id
        </th>
        <th>
          FirstName
        </th>
        <th>
          LastName
        </th>
        <th>
          Email
        </th>
        <th>
          Telephone
        </th>
        <th>
          Address
        </th>
        <th>
          City
        </th>
        <th>
          Code
        </th>
        <th>
          AddressMore
        </th>
        <th>
          Roles
        </th>
        <th>
          IsVerified
        </th>
        <th>
          actions
        </th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
        <tr>
          <td>
            {{ client.id }}
          </td>
          <td>
            {{ client.firstName }}
          </td>
          <td>
            {{ client.lastName }}
          </td>
          <td>
            {{ client.email }}
          </td>
          <td>
            {{ client.telephone }}
          </td>
          <td>
            {{ client.address }}
          </td>
          <td>
            {{ client.city }}
          </td>
          <td>
            {{ client.code }}
          </td>
          <td>
            {{ client.addressMore }}
          </td>
          <td>
            {{ client.roles ? client.roles|json_encode : '' }}
          </td>
          <td>
            {{ client.isVerified ? 'Yes' : 'No' }}
          </td>
          <td>
            <a href="{{
              path(
                'show_account',
                {
                  id: client.id
                }
              )
              }}">
              show
            </a>
            <a href="{{
              path(
                'clients_edit',
                {
                  id: client.id
                }
              )
              }}">
              edit
            </a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="13">
            no records found
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
