{% extends 'base.html.twig' %}

{% block title %}
  Clients
{% endblock %}

{% block body %}
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="card">
        <div class="card-content has-text-centered">
          <h1 class="title">
            My account
          </h1>
          <div>
            {{ client.firstName ~ ' ' ~ client.lastName }}
          </div>
          <div>
            {{ client.email }} {{ client.isVerified ? '✅' : '' }}
          </div>
          <div>
            {{ client.telephone }}
          </div>
          <div class="mt-5 mb-5">
            <h3 class="title is-5">
              Address
            </h3>
            <p>
              {{ client.address }} {% if client.addressMore %}
                ({{ client.addressMore }})
              {% endif %}
            </p>
            <p>
              {{ client.code }}
            </p>
            <p>
              {{ client.city }}
            </p>
          </div>

            <a class="button is-fullwidth is-primary mb-3"
              href="{{ path('clients_edit') }}">
              Edit
            </a>
          </div>
          {{ include('clients/_delete_form.html.twig') }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
